body
{
    margin-left: 150px;
    background-color :lightblue;
    opacity: 1;
}
.formation
{
   margin-left: 60px;
}
.p1
{
   opacity: 0.7;
}
.p2
{
    opacity: 0.5;
    
}
	
ul {
	list-style-type: none;
}
 
ul li:before {
	content: "\2022";
	margin-right: 10px;
	color: maroon;
}
a:hover
{
color: rgb(238, 6, 37);
text-decoration-line: unset;
}
a
{
    text-decoration-line: unset;   
}
